/*root {*/
    /*display: block;*/
/*}*/
/*.root {*/
    /*!*-fx-background-image: url("../Resources/image/skull1.png");*!*/
    /*!*-fx-background-repeat: stretch;*!*/
    /*!*-fx-background-size: 900 506;*!*/
    /*!*-fx-background-position: center center;*!*/
    /*!*-fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);*!*/
    /*-fx-background-color: beige;*/
/*}*/

/*.label {*/
    /*-fx-font-size: 40px;*/
    /*-fx-font-family: "Arial Black";*/
    /*-fx-fill: saddlebrown;*/
    /*-fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );*/
/*}*/

/*.button {*/
    /*-fx-pref-width: 200px;*/
    /*-fx-pref-height: 35px;*/

    /*-fx-font-size: 20px;*/
    /*-fx-text-fill: beige;*/
    /*!*-fx-font-family: "Arial Narrow";*!*/
    /*-fx-font-weight: bold;*/
    /*-fx-width:400px!important;*/
    /*-fx-background-color: linear-gradient(burlywood, #996134);*/
    /*-fx-effect: dropshadow( three-pass-box , rgba(20,0,10,0.6) , 5, 0.0 , 0 , 1 );*/

/*}*/

#gameWindow {
    -fx-background-image: url("../../../../../Resources/image/terrain5.png");
    /*-fx-background: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url("../../../../../Resources/image/floor.jpg");*/
    -fx-background-size: 130 32;
    -fx-background-repeat: repeat;
    /*-fx-background-color: green;*/

}

#pane {
    -fx-background-image: url("../../image/2.jpeg");

    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-background-color: green;
    display: flex!important;
    align-items: center!important;
    justify-content: center!important;

}

.jfx-button {
    /*-fx-position: relative!important;*/
    /*-fx-*/
    /*-fx-alignment: center;*/
    /*-fx-background-color: green!important;*/
    /*-fx-margin: 0 auto!important;*/
}

